.bar .logo {
  max-height: 35px !important;
  max-width: none;
  top: -4px !important; }

.menu-horizontal {
  list-style: none !important; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-20 {
  margin-top: 40px; }

.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.btn {
  border-radius: 0px; }

.btn--primary:hover {
  background: #03a85066; }

a:hover {
  color: #03a85066;
  text-decoration: none; }

.text-bold {
  font-weight: bold; }

ul {
  list-style: disc; }

.no-style {
  list-style: none; }

.feature h3 {
  font-size: 3vh;
  font-weight: 400; }

.list--hover {
  list-style: none; }

footer .logo {
  max-height: 2.75em !important; }

.social-list {
  margin-top: 10px !important; }

@media (max-width: 767px) {
  .switchable .row > div[class*=col-]:last-child:not(:only-child) {
    margin: 0px !important; }
  .logo-contain {
    text-align: center !important; }
  .btn--primary {
    margin-top: 20px; }
  .logo-contain {
    text-align: center !important; }
  footer.footer-2 .row:last-child {
    margin-top: 0 !important; }
  .footer-nav {
    margin: 20px 0 !important; }
  footer .text-right {
    text-align: center !important; }
  footer .email {
    text-align: center !important; } }
