{% set title = "Uledger Case Study - Brickschain" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_How_It_Works.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <div class="cta">
                <h1><strong>Case Study - Brickschain</strong></h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="feature-large bg--secondary">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2>Brickschain uses ULedger Technology to Create Groundbreaking Commercial Construction Product</h2>
            </div>
            <div class="col-lg-8 offset-lg-2">
              <p class="lead">
                “Partnering with ULedger has helped Brickschain bring data democratization and coordination to the builtworld.”
              </p>
              <p class="text-right">
                - Bassem Hamdy, CEO Brickschain
              </p>
            </div>
          </div>
          <div class="row margin-top-40">
            <div class="col-lg-6">
              <p>
                For building owners, facilities are living entities that often require regular maintenance. However, data about these buildings, and their construction history, tends to be scattered, difficult to track down, and almost impossible to verify.
              </p>
              <p>
                With the mission of chronicling every building in the world, whether it be during construction, during the handover process, or vacant and unused properties, Brickschain uses Uledger to create a trustworthy data archive of events, transactions, assets, and other project details. This allows emails, project management systems, and accounting systems to come together in one place, creating a verified record of all transactions on the blockchain and ensuring that data can not be lost.
              </p>
              <p>
                For Brickschain, the use of ULedger Blockchain technology in this way is what allows their contractor clients to continue to use their source systems while also storing data in a verified, unchangeable ledger that can be used to manage facilities over time.
              </p>
              <p>
                Years from now, if a building material is found to be hazardous, building owners will now be able to easily check which buildings contain that material, and if renovations are needed. This type of data archiving and retrieval, provided by Brickschain, has never before been available in the construction industry.
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                ULedger was the only choice for Brickschain because it’s Blockchain architecture allows data to be verified externally without being shared, allowing the creation of a provable audit trail combined with the security of a private database, which is simply not available from other solutions. It enables companies like Brickschain to quickly create and maintain separate blockchain data structures that work together to certify and corroborate each others’ data without sharing its content.
              </p>
              <p>
                “Partnering with ULedger has helped Brickschain bring Data democratization and coordination to the builtworld.”
              </p>
              <p>
                Bassem Hamdy, CEO Brickschain
              </p>
              <p>
                Brickschain uses ULedger across all of the construction projects under their scope, which also ensures that the data collected is verifiable and provable in the event of inquiry, audit, or legal challenge.
              </p>
            </div>
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
