{% set title = "Uledger Installations Page" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_Installations.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h1><strong>Installations</strong></h1>
            </div>
          </div>
        </div>
      </section>
      <section
        class="switchable feature-large switchable--switch bg--secondary"
      >
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1000/?random"
              />
            </div>
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1000/?random"
              />
            </div>
          </div>
          <div class="row justify-content-around margin-top-40">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1000/?random"
              />
            </div>
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1000/?random"
              />
            </div>
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
