{% set title = "Uledger How It Works" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_How_It_Works.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <div class="cta">
                <h1><strong>How It Works</strong></h1>
                <div class="modal-instance">
                    <a class="btn btn--primary type--uppercase modal-trigger" href="#">
                        <span class="btn__text">
                             Watch Video
                        </span>
                    </a>
                    <div class="modal-container">
                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                            <iframe src="https://player.vimeo.com/video/244678648?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <!--end of modal-content-->
                    </div>
                    <!--end of modal-container-->
                </div>
                <!--end of modal instance-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="feature-large bg--secondary">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2>What is an Enterprise Blockchain Platform?</h2>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="img/ULedger_vs_Other_Blackchains_vert.png"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div>
                <p>
                  ULedger has built a blockchain platform that specifically targets the needs of corporate and government environments. ULedger blockchain technology provides organizations of all sizes with a secure, private, tamper-proof, mathematically verifiable record of the content of their data at any point in time.
                </p>
                <p class="text-bold">
                  ULedger is the first true blockchain protocol.
                </p>
                <p>
                  Built with the enterprise in mind for scalability, flexibility, security, and at a price that makes adding blockchain technology an easy decision.
                </p>
                <p>
                  ULedger has achieved immutability without the need for consensus, which makes our solution truly stateless and highly scalable. We are a hybrid, combining the data security of a private blockchain platform with the immutability of a public blockchain platform.
                </p>
                <p>
                  ULedger’s products are a stateless blockchain protocol with an open API that allows our organizations to easily incorporate blockchain into their existing data environment.
                </p>
              </div>
            </div>
          </div>
          <div class="cta cta--horizontal text-center-xs row margin-top-40">
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="#">
                <span class="btn__text">
                  Start Today!
                </span>
              </a>
            </div>
            <div class="col-md-4">
              <div class="modal-instance width-100">
                  <a class="btn btn--primary type--uppercase modal-trigger width-100" href="#">
                      <span class="btn__text">
                           Watch the Video
                      </span>
                  </a>
                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe src="https://player.vimeo.com/video/244678648?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
            </div>
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="/downloads/ULedger_Technology_Summary.pdf">
                <span class="btn__text">
                  Download Brochure
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="img/secondary-image_advantages.jpg"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <p>
                ULedger's Blockchain Platform offers the following advantages:
              </p>
              <ul class="no-style">
                <li>
                  <strong>Privacy</strong> - ULedger does not require access to underlying data
                </li>
                <li>
                  <strong>Security</strong> - Data is not shared among network nodes
                </li>
                <li>
                  <strong>Compatibility</strong> - Interoperable with all Ethereum-based blockchain platforms
                </li>
                <li>
                  <strong>Scalability</strong> - Designed for enterprise data volumes
                </li>
                <li>
                  <strong>Reporting</strong> - Dynamic reporting of Blockchain proof
                </li>
                <li>
                  <strong>Forensics</strong> - Data tied to the source, creator and editor
                </li>
                <li>
                  <strong>Trust</strong> - Trust in ULedger not required as proof is mathematical
                </li>
                <li>
                  <strong>Regulatory</strong> - Extends to regulatory uses cases
                </li>
                <li>
                  <strong>Flexibility</strong> - Extends to any data format and file size
                </li>
                <li>
                  <strong>Stateless Approach</strong> - Nodes do not require complete data history of other nodes
                </li>
                <li>
                  <strong>Easy integration</strong> - Via open standards API
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="feature-large bg--secondary">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2>Pete Anewalt, Co-Founder & COO, ULedger, Talks About Blockchain and the ULedger Difference</h2>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-12 col-lg-10">
                <div class="video-cover">
                    <div class="background-image-holder">
                        <img alt="image" src="img/1600x1067_Home.png" />
                    </div>
                    <div class="video-play-icon"></div>
                    <iframe data-src="https://www.youtube.com/embed/UzFvHRzVff0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!--end video cover-->
            </div>
          </div>
          <div class="cta cta--horizontal text-center-xs row margin-top-40">
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="/request-a-demo.html">
                <span class="btn__text">
                  Start Today!
                </span>
              </a>
            </div>
            <div class="col-md-4 text-center text-center-xs">
                <a class="btn btn--primary type--uppercase width-100" href="/how-it-works-faqs.html">
                  <span class="btn__text">
                    FAQs
                  </span>
                </a>
              </div>
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="/downloads/ULedger_Technology_Summary.pdf">
                <span class="btn__text">
                  Download the White Paper
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
