{% set title = "The Preferred Blockchain API" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="imagebg space--lg" data-overlay="4">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_Home.png" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-6 offset-lg-6">
              <div class="cta">
                <h2 class="text-bold">
                  Blockchain for the Enterprise
                </h2>
                <p class="lead">
                  ULedger's Enterprise Blockchain Platform brings the advantages
                  of blockchain security with added scalability and flexibility
                  for immutable data tracking.
                </p>
                <a
                  class="btn btn--primary type--uppercase"
                  href="#purchase-template"
                >
                  <span class="btn__text">
                    Watch Our Video
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large switchable--switch">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1067/?random"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="switchable__text">
                <h2>Data Integrity</h2>
                <h4>Security * Scalability * Flexibility</h4>
                <p class="lead">
                  Data is one of your company’s most valuable assets. Changes to
                  that data, whether intentional, accidental, or malicious,
                  occur frequently. However, without historical and immutable
                  tracking, your data's integrity it is not reliable.
                </p>
                <a href="#">Learn More »</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large bg--secondary">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1067/?random"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="switchable__text">
                <h2>Identify Data Breaches Instantly</h2>
                <h4>Your Digital Watchdog</h4>
                <p class="lead">
                  Blockchain’s ability to create an immutable audit trail makes
                  it a compelling solution for logging. However, public
                  blockchain instances, such as Ethereum, are simply not
                  scalable or flexible enough to handle the volumes of data
                  involved, not to mention the cost.
                </p>
                <a href="#">Learn More »</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large switchable--switch">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1067/?random"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="switchable__text">
                <h2>Regulation and Compliance</h2>
                <h4>Indisputable Records</h4>
                <p class="lead">
                  Uledger Blockchain solutions deliver critical tools in serving
                  to meet the requirements of State and Federal regulatory
                  compliance. And, in the absence of specific government
                  regulations, ULedger helps companies comply with
                  industry-specific best practices.
                </p>
                <a href="#">Learn More »</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <img
                  alt="Image"
                  src="img/1600x1067_Email.png"
                />
                <div class="feature__body boxed boxed--lg boxed--border">
                  <h3>ULedger for Email</h3>
                  <p class="lead">
                    ULedger Email allows you to create and maintain a complete,
                    immutable history of your organization’s email
                    communications.
                  </p>
                  <a href="#">
                    Email Product Page »
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <img
                  alt="Image"
                  src="img/1600x1067_Logging.png"
                />
                <div class="feature__body boxed boxed--lg boxed--border">
                  <h3>ULedger for Logging</h3>
                  <p class="lead">
                    ULedger Logging provides a complete and tamper-proof
                    history, reliable and economical via our Enterprise
                    Blockchain Protocol.
                  </p>
                  <a href="#">
                    Logging Product Page »
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <img
                  alt="Image"
                  src="img/1600x1067_Data_Integrity.png"
                />
                <div class="feature__body boxed boxed--lg boxed--border">
                  <h3>Data Integrity by ULedger</h3>
                  <p class="lead">
                    ULedger Data Integrity provides a permanent, tamper-proof
                    record, regardless of data type. Access to your underlying
                    data, not required.
                  </p>
                  <a href="#">
                    Data Integrity Product Page »
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="feature-large switchable--switch bg--secondary">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="img/1600x1067_What_Makes_ULedger_Different.png"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="">
                <h2>What Makes ULedger Different?</h2>
                <h4>Real Blockchain for Real Enterprises</h4>
                <p class="lead">
                  ULedger is the first true blockchain protocol.<br />
                  Achieving immutability without the need for consensus makes
                  ULedger's solution truly stateless and highly scalable. Our
                  hybrid technology combines the data security of a private
                  blockchain with the immutability of a public blockchain
                  platform.
                </p>
                <a href="#">Watch »</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
