{% set title = "Uledger Request A Demo!" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_Logging.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h1><strong>Request A Demo</strong></h1>
            </div>
          </div>
        </div>
      </section>
      <section class="space--xs bg--secondary">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-8">
              <h4>Let us take 30 minutes to walk you through our solutions and demonstrate how you can make data provability work for you.</h4>
            </div>
            {% include "partial/_form.html" %}
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
