{% set title = "Uledger How It Works" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_How_It_Works.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <div class="cta">
                <h1><strong>Resources</strong></h1>
                <a
                  class="btn btn--primary type--uppercase"
                  href="https://www.youtube.com/watch?reload=9&v=UzFvHRzVff0"
                >
                  <span class="btn__text">
                    Watch Our Video
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="feature-large bg--secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center">
              <h4>Use Cases</h4>
              <ul class="no-style">
                <li>Asset Securitization</li>
                <li>Audits</li>
                <li>Fraud Prevention</li>
                <li>Intrusion Detection</li>
                <li>Municipal Operations</li>
                <li>Pharmaceutical Industry</li>
                <li>Property Title</li>
                <li>Supply Chain Management</li>
                <li>Taxation</li>
              </ul>
            </div>
            <div class="col-md-4 text-center">
              <h4>Case Studies</h4>
              <ul class="no-style">
                <li>Deloitte</li>
                <li>Brickschain</li>
              </ul>
            </div>
            <div class="col-md-4 text-center">
              <h4>White Paper</h4>
              <ul class="no-style">
                <li>The Uledger Difference</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
