{% set title = "Uledger Data Integrity Page" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="3">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_Data_Integrity.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h1 class="type--uppercase"><strong>ULEDGER DATA INTEGRITY PLATFORM</strong></h1>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2>Create a Permanent and Tamper-Proof Record of Any Data</h2>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="img/1600x1067_Data_Integrity-10.png"
              />
            </div>
            <div class="col-md-6 col-lg-6">
              <div>
                <p>
                  Today’s data infrastructures revolve around management of ever-increasing volumes of data . Changes to that data, whether intentional, accidental, or malicious, occur frequently. Without “integrity”  data's content and history over time is not reliable. Unreliable data causes added expense, compliance issues, complicated audits,  legal and other problems.
                </p>
                <p>
                  To address this, organizations need to add a layer of immutable verification and proof on top of their existing data infrastructure. ULedger’s Blockchain-based Data Integrity Platform is ideally suited for this purpose. ULedger’s Data Integrity platform can make data secure and trustworthy regardless of file type, location, or size.
                </p>
              </div>
            </div>
          </div>
          <div class="cta cta--horizontal text-center-xs row margin-top-40">
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="#">
                <span class="btn__text">
                  Download Brochure
                </span>
              </a>
            </div>
            <div class="col-md-4">
              <div class="modal-instance width-100">
                  <a class="btn btn--primary type--uppercase modal-trigger width-100" href="#">
                      <span class="btn__text">
                           Watch the Video
                      </span>
                  </a>
                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe data-src="https://www.youtube.com/embed/UzFvHRzVff0" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
            </div>
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="start-today-data-integrity.html">
                <span class="btn__text">
                  Start Today!
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="space--sm switchable switchable--switch bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h2>Why ULedger Data Integrity Platform?</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <img src="img/ULedger_vs_Other_Blockchains_horiz.png" />
              </div>
            </div>
        </div>
      </section>
      <section class="switchable switchable--switch bg--secondary">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-5">
              <p>
                While blockchain’s ability to create an immutable audit trail makes it great for logging data, most public blockchain offerings are cost-prohibitive due to the sheer volume of data being certified and stored.
              </p>
              <p>
                ULedger is designed for enterprise data volume, without reduction in transaction per second or increase in costs, and can handle any file type and size. And, ULedger is implemented without the need to change your existing IT infrastructure, via open standards API.
              </p>
              <p>
                Additionally, ULedger’s solution does not require an organization’s data to be shared with the rest of the network as it is with public blockchains, allowing proprietary data to stay secure.
              </p>
              <p>
                Unlike all other blockchain solutions, ULedger uses cross-merkelization, a process critical to proving the relative order of data events.
              </p>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <h4>Companies Use ULedger Because:</h4>
                </div>
                <p>
                  ULedger Data Integrity provides a permanent and tamper-proof record of any type of data, including medical files, images, transactions, and email. ULedger seamlessly integrates with existing data platforms, creating an impenetrable audit trail, and never requires access to your underlying data.
                </p>
                <div class="col-md-12">
                  <ul class="text-bold">
                    <li>Simple API integration</li>
                    <li>Immutable audit trail</li>
                    <li>10,000 transactions per second</li>
                    <li>Any data/file type</li>
                    <li>Data not shared</li>
                    <li>Cross-merkelization technology</li>
                    <li>Compliance & Regulation</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cta cta--horizontal text-center-xs row margin-top-40">
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="start-today-data-integrity.html">
                <span class="btn__text">
                  Start Today!
                </span>
              </a>
            </div>
            <div class="col-md-4">
              <div class="modal-instance width-100">
                  <a class="btn btn--primary type--uppercase modal-trigger width-100" href="#">
                      <span class="btn__text">
                           Watch the Video
                      </span>
                  </a>
                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe data-src="https://www.youtube.com/embed/UzFvHRzVff0" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
          </div>
            <div class="col-md-4 text-center text-center-xs">
              <a class="btn btn--primary type--uppercase width-100" href="#">
                <span class="btn__text">
                  Download the Brochure
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>

      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
