{% set title = "Uledger Data Integrity Start Today!" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partial/_meta.html" %}
  </head>

  <body data-smooth-scroll-offset="77">
    {% include "partial/_nav.html" %}
    <div class="main-container">
      <section class="cover imagebg text-center height-50" data-overlay="5">
        <div class="background-image-holder">
          <img alt="background" src="img/1600x1067_Data_Integrity.png" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h1><strong>ULEDGER DATA INTEGRITY PLATFORM</strong></h1>
            </div>
          </div>
        </div>
      </section>
      <section class="switchable feature-large">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <h2>Start Your Tamper-Proof Record Any Data Type Today!</h2>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-6">
              <img
                alt="Image"
                class=""
                src="https://picsum.photos/1600/1067/?random"
              />
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="row">
                <div>
                  <p>
                    ULedger Data Integrity provides a permanent and tamper-proof record of any type of data, including medical files, images, transactions, and email. Seamlessly integrating with existing data platforms, ULedger creates an impenetrable audit trail, and never requires access to your underlying data.
                  </p>
                  <p>
                    ULedger Data Integrity can help you secure your existing data infrastructure and create an immutable, provable 3rd party record of your data history.
                  </p>
                  <p>
                    Getting started is easy. Pricing starts at just $500/month. With no long-term contracts, if you're not happy with ULedger's performance, you can cancel at any time.
                  </p>
                  <p>
                    Every environment is different and we want to set you up right, click the lick below and we'll contact you right away and help you make immutable, tamper-proof data easier than ever.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="space--xs bg--secondary">
        <div class="container">
          <div class="row justify-content-around">
            {% include "partial/_form.html" %}
          </div>
        </div>
      </section>
      {% include "partial/_footer.html" %}
    </div>
    {% include "partial/_scripts.html" %}
  </body>
</html>
