      <footer class="space--sm footer-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-6 logo-contain">
              <a href="index.html">
                <img
                  class="logo logo-dark"
                  alt="logo"
                  src="img/logo-dark.png"
                />
              </a>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6">
              <ul class="footer-nav list-inline text-center">
                <li><a href="/solutions-email.html">Email Soliution</a></li>
                <li><a href="/solutions-data-breach.html">Data Breach</a></li>
                <li><a href="/solutions-data-integrity.html">Data Integrity</a></li>
                <li><a href="/solutions-compliance-and-regulation.html">Compliance & Regulation</a></li>
                <li><a href="/how-it-works.html">How It Works</a></li>
                <li><a href="/how-it-works-faqs.html">FAQs</a></li>
                <li><a href="/resources.html">Resources</a></li>
                <!-- <li><a href="#">Integrations</a></li>
                <li><a href="#">Installations</a></li> -->
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6 text-right ">
              <ul class="social-list list-inline list--hover">
                <li>
                  <a href="https://www.linkedin.com/company/uledger-inc-/"
                    ><i class="socicon socicon-linkedin icon icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/uledgerco"
                    ><i class="socicon socicon-twitter icon icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="https://t.me/joinchat/FeoKtRAZaAlch0AT0tiLXw"
                    ><i class="socicon socicon-telegram icon icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.reddit.com/r/ULedger/"
                    ><i class="socicon socicon-reddit icon icon--xs"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 email">
              <a class="type--fine-print" href="mailto:info@uledger.co?subject=website">info@uledger.co</a>
            </div>
            <div class="col-sm-6 text-right text-left-xs">
              <span class="type--fine-print"
                >© <span class="update-year"></span> ULedger</span
              >
              <a class="type--fine-print" href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </footer>
