.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 40px;
}

.width-100 {
  width: 100%;
}

.btn {
  border-radius: 0px;
}

.text-bold {
  font-weight: bold;
}

ul {
  list-style: disc;
}

.no-style {
  list-style: none;
}
